.feedback {
  display: flex;
  flex-direction: column;
  gap: 50px;
  transition: all ease 0.2s;

  @media (max-width: 1600px) {
    gap: 48px;
  }

  @media (max-width: 820px) {
    gap: 25px;
  }

  .formRow {
    display: flex;
    flex-direction: row;
    gap: 99px;

    @media (max-width: 1600px) {
      gap: 40px;
    }

    @media (max-width: 960px) {
      gap: 26px;
    }

    @media (max-width: 820px) {
      flex-direction: column;
      gap: 25px;
    }

    input {
      width: 100%;
      border: 0px;
      border-bottom: 1px solid var(--gray);
      color: var(--black);
      font-family: 'ScaniaSansCYHeadline';
      font-size: 30px;
      font-weight: 400;
      line-height: 37.5px;
      padding: 10px 0;
      outline: none;
      box-shadow: none;
      background-color: var(--white);
      border-radius: 0px;

      @media (max-width: 1600px) {
        font-size: 25px;
        line-height: 31.25px;
      }

      @media (max-width: 960px) {
        font-size: 25px;
        line-height: 31.25px;
      }

      @media (max-width: 820px) {
        font-size: 18px;
        line-height: 22.5px;
      }

      &.fieldError {
        color: red;
        border-bottom: 1px solid red !important;
      }

      &::placeholder {
        color: var(--gray);
      }
      &::-ms-input-placeholder {
        color: var(--gray);
      }

      &:hover, &:active, &:focus {
        border-bottom: 1px solid var(--black);
      }
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }
}

.sendButton {
  font-family: 'ScaniaSansCYHeadline';
  font-size: 30px;
  font-weight: 400;
  line-height: 37.5px;
  color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 13px;
  margin-top: 60px;
  cursor: pointer;
  text-decoration: none;
  transition: all ease 0.2s;
  width: 252px;

  @media (max-width: 1600px) {
    margin-top: 58px;
    font-size: 25px;
    line-height: 31.25px;
    width: 212px;
  }
  
  @media (max-width: 820px) {
    margin-top: 40px;
    font-size: 18px;
    line-height: 22.5px;
    width: 160px;
  }

  .arrowIcon {
    margin-top: -2px;
    width: 19px;
    height: 19px;

    @media (max-width: 1600px) {
      width: 17px;
      height: 17px;
    }

    @media (max-width: 820px) {
      width: 12px;
      height: 12px;
    }
  }

  &:hover {
    color: var(--blue);

    .arrowIcon path {
      stroke: var(--blue);
    }

    @media (max-width: 820px) {
      color: var(--black);

      .arrowIcon path {
        stroke: var(--black);
      }
    }
  }
}

.policyBlock {
  margin-top: 15px;

  &.bottomMargin {
    @media (max-width: 820px) {
      padding-bottom: 300px;
    }
  }

  span {
    font-size: 15px;
    font-weight: 400;
    line-height: 21px;
    color: var(--black);
    opacity: 0.6;
    transition: all ease 0.2s;
    
    a {
      text-decoration: underline;

      &:hover {
        color: var(--blue);

        @media (max-width: 820px) {
          color: var(--black);
        }
      }
    }
  }
}
