.homeProjects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;

  &:first-child {

    @media (max-width: 960px) {
      gap: 0px;
    }

    &>div {
      margin-bottom: 60px;

      @media (max-width: 960px) {
        margin-bottom: 40px;
      }
    }
  }

  @media (max-width: 1600px) {
    gap: 14px;
  }

  @media (max-width: 960px) {
    gap: 20px;
    row-gap: 50px;
  }

  @media (max-width: 820px) {
    gap: 40px;
    flex-direction: column;
  }
}