.portfolioTitle {
  margin-top: 247px;
  margin-bottom: 120px;

  @media (max-width: 1600px) {
    margin-bottom: 98px;
    margin-top: 200px;
  }

  @media (max-width: 960px) {
    margin-top: 121px;
    margin-bottom: 40px;
  }

  h1 {
    font-family: 'ScaniaSansCYHeadline';
    font-size: 45px;
    font-weight: 400;
    line-height: 56.25px;
    color: var(--black);

    @media (max-width: 1600px) {
      font-size: 39px;
      line-height: 48.75px;
    }

    @media (max-width: 960px) {
      font-size: 35px;
      line-height: 43.75px;
    }

    @media (max-width: 740px) {
      font-size: 18px;
      line-height: 25.2px;
    }
  }

  .tags {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 28px;
    margin-top: 20px;

    @media (max-width: 1600px) {
      margin-top: 23px;
      gap: 23px;
    }

    @media (max-width: 960px) {
      margin-top: 18px;
      gap: 10px;
    }

    span {
      font-family: 'ScaniaSansCY';
      font-size: 25px;
      font-weight: 400;
      line-height: 31.25px;
      color: var(--blue);

      @media (max-width: 1600px) {
        font-size: 21px;
        line-height: 26.25px;
      }
  
      @media (max-width: 960px) {
        font-size: 15px;
        line-height: 18.75px;
      }
    }
  }

  h2 {
    font-family: 'ScaniaSansCY';
    font-size: 25px;
    font-weight: 400;
    line-height: 35px;
    color: var(--black);
    margin-top: 40px;
    width: 100%;
    white-space: break-spaces;

    @media (max-width: 1600px) {
      font-size: 21px;
      line-height: 29.4px;
      margin-top: 48px;
    }

    @media (max-width: 960px) {
      font-size: 15px;
      line-height: 21px;
      margin-top: 40px;
    }
  }
}