.fullWidth {
  width: 100%;
  height: auto;
  margin-top: 150px;

  @media (max-width: 1600px) {
    max-height: 715px;
    margin-top: 105px;
  }

  @media (max-width: 960px) {
    max-height: 329px;
    margin-top: 40px;
  }
}

